<footer class="row" >
	<div class="large-12 columns">
		<hr>
		<div class="newsletter">
    </div>
		<ul class="no-bullet">
		  <li><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
		  <li><a href="https://github.com/{{ site.github_username }}">GitHub</a></li>
		</ul>
		{{site.title}} &copy; 2017
	</div>
</footer>
<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/foundation.min.js"></script>
<script src="{{ site.baseurl }}/js/app.js"></script>
