
<p class="post-meta">
  {% unless post.categories == empty %}
    <span class="meta-category">
      {% for category in post.categories %}
        <a href="/collections/{{ category | slugify }}">{{category}}</a>
      {% endfor %}
    </span>
    <i class="fa fa-circle dot" aria-hidden="true"></i>
  {% endunless %}
  {% unless post.tags == empty %}
    <span class="meta-tag">
      {% for tag in post.tags %}
        <a href="/tags/{{ tag }}">#{{tag}}</a>
      {% endfor %}
    </span>
    <i class="fa fa-circle dot" aria-hidden="true"></i>
  {% endunless %}
  <span class="meta-date">
    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
      {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
      {{ post.date | date: date_format }}
    </time>
  </span>
  {% if post.author %}
    <i class="fa fa-circle dot" aria-hidden="true"></i>
    <span class="meta-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">{{ post.author }}</span>
    </span>
  {% endif %}
</p>
