---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  {% assign post = page %}

  <header class="post-header">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    {% include post_meta.html %}
  </header>

  <div class="full-post-img">
    {% if page.img %}
      {% img {{page.img}} alt:{{page.alt}} %}
    {% endif %}
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer>
    <nav>
      <ul class="post-footer">
        {% if post.previous.url %}
          <li><a id="prev" href="{{post.previous.url}}" class="sc faded">Préc: {{post.previous.title}}</a></li>
        {% endif %}
        {% if post.next.url %}
          <li><a id="next" href="{{post.next.url}}" class="sc faded">Suiv: {{post.next.title}}</a></li>
        {% endif %}
        <li><a href="/archive/" class="sc faded">Voir tous les articles</a></li>
      </ul>
    </nav>
  </footer>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>

  {% include recent_posts.html %}
